* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form_error {
    color: red;
}

/* input box pr css add krne k lye*/
.custom-control-input {
    padding: 0px 50px 0px 0px;
    width: 80%;
}

/* city country state dropdown pr css add krne k lye*/
.custom-select {
    padding: 0px 50px 0px 0px;
    width: 50%;
    /* drop down k size chota krne k lye*/
}

/* male button ko align krne k lye form k according*/
#male {
    margin-left: 8%;
    /* male button ko left se marge dya h*/
}

#add-btn {
    margin-left: 1%;
    margin-top: 1%;
}

/*  width full rkhne k lye*/
select {
    width: 200%;
}


.header h5 {
    /* header m css add krne k lye*/
    font-weight: bold;
    font-size: verdana;
    font-size: 28px;
    color: #fff;
    text-align: center;
}

/* table k width full rkhne k lye or space add krne k lye*/
.table-box {
    width: 100%;
    padding: 10px;
}

/* table k width full rkhne k lye*/
.table-box table {
    width: 100%;
}

/* radio button k size increase krne k lye width and height use kya h */
input[type='radio'] {
    width: 18px;
    height: 18px;
}

/* table ka border color font ko change krne k lye */
.table-box table tr th {
    /* table k headline m css add krne k lye*/
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    /* top border ko dikhne k lye */
    padding: 20px 0px 0px;
    /* table m padding ( space between the border and text )  m add krne k lye */
    font-family: Verdana;
    /* table k font style change krne k lye */
    font-size: 20px;
    /* table k font size change  krne k lye */
    border-bottom: 1px solid #ccc;
    /* bottom border ko dikhne k lye */
}

.table-box table tr td {
    /* table k td m css add krne k lye*/
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
    padding: 10px 0px 0px;
    font-size: verdana;
    font-family: 10px;
    border-bottom: 1px solid #ccc;
}

.edit-btn {
    width: 66px;
    margin-bottom: 10px;
}

.table-box table tr td button {
    /* table k td m jo button h usme css add krne k lye*/
    /* border: none;  button pr koi border n aaye uske lye */
    outline: none;
    /* button k outline ko htane k lye*/
    font-size: verdana;
    padding: 5px;
}

/* @media only screen and (max-width: 600px) {
    body {
        width: 100%;
        font-size:small;
    }

    #add-btn {
        margin-left: 1%;
        margin-top: 1%;
        height: 40px;
        width: 100%;
    } */

    /*.table-box {
        overflow: scroll;
        font-size: 15px;
    }

    #male {
        margin-left: -70%;
        /* male button ko left se marge dya h*/
    /* }

    .custom-select {
        padding: 0px 10px 0px 10px;
        width: 80%;
        margin-right: 120px;
        /* drop down k size chota krne k lye*/
        /* font-size: revert;
    }

    .h4 {
        font-size: 20px;
    }

    option {
        min-height: 1em;
        font-size: x-small;
    }

    .btn {
        font-weight: 200;
        line-height: 1;
    }

    .modal-footer {
        margin-right: 30px;
    } */ 
    .custom-select {
        width: 100%;
        border:1px solid #000;
    }
    label.form-check-label {
        display: block !important;
    }
    .custom-control-input {
        border:1px solid #000;
        width: 100%;
    }
@media (max-width: 1200px) {
    .input-group {
        display: block;
    }
    .custom-control-input {
        border:1px solid #000;
        width: 100%;
    }
    .modal {
        padding-right: 0 !important;
    }
 }

@media (max-width: 575px) {
    .table-box table tr td,
    .flex-fill.h4 {
        font-size: 12px;
    }
    .table-box table tr td button {
        margin-left: 5px;
        margin-right: 5px;
        width: 100%;
    }
    .table-box table tr td button i {
        font-size: 10px;
    }
}